@import '../../styles/app';

.ui.button {
  padding: @small @medium;
  font-size: @fontSizeNormal;
  font-weight: @fontWeightSemibold;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  border: none;
  border-radius: 0;
  outline: none;

  will-change: auto;
  // primary styles
  &.primary {
    color: @lightGray000;
    background: @brandGreen500;

    &:hover {
      background: @brandGreen700;
    }

    &:active {
      background: @brandGreen500;
    }

    &.accessible {
      color: @green700;
    }

    &.neutral {
      background-color: @darkGray300;
      color: @lightGray000;

      &:hover {
        background-color: @darkGray500;
      }
    }

    &.danger {
      background: @red500;

      &:hover {
        background: @red700;
      }

      &:active {
        background: @red500;
      }
    }

    &.disabled {
      background-color: @lightGray300;
      cursor: not-allowed;

      &:hover {
        background-color: @lightGray300;
      }
    }
  }
  // default styles
  &.defaultStyle {
    background-color: @lightGray000;
    color: @brand;
    border: 1px solid @brand;

    &:hover {
      background-color: @brandGreen100;
    }

    &:active {
      border: 1px solid @brandGreen700;
      color: @brandGreen700;
    }

    &.neutral {
      background-color: @lightGray000;
      color: @darkGray300;
      border: 1px solid @darkGray300;

      &:hover {
        background-color: @lightGray100;
      }
    }

    &.accessible {
      color: @green500;
      border: 1px solid @green500;
    }

    &.danger {
      color: @red500;
      border: 1px solid @red500;

      &:hover {
        background-color: @red100;
      }

      &:active {
        border: 1px solid @red700;
        color: @red700;
      }
    }

    &.disabled {
      background-color: @lightGray300;
      color: @lightGray000;
      cursor: not-allowed;
      border: none;

      &:hover {
        background-color: @lightGray300;
        border: none;
      }
    }
  }
  // flat styles
  &.flat {
    color: @brand;

    &:hover {
      background-color: @brandGreen100;
    }

    &:active {
      border: 1px solid @brand;
    }

    &.accessible {
      color: @green500;
    }

    &.neutral {
      color: @darkGray500;

      &:hover {
        background-color: @lightGray100;
      }

      &:active {
        border: 1px solid @lightGray300;
      }
    }

    &.danger {
      color: @red500;

      &:hover {
        background-color: @red100;
        color: @red700;
      }

      &:active {
        border: 1px solid @red700;
      }
    }

    &.disabled {
      color: @lightGray300;
      border: none;
      cursor: not-allowed;

      &:hover {
        background-color: @lightGray000;
        color: @lightGray300;
      }

      &:active {
        border: none;
      }
    }
  }
}
