@import '../../styles/color';
@import '../../styles/fonts';
@import '../../styles/spacing';

.pageContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: @brandFont;
  color: @lightGray300;
  font-size: 80px;
  font-weight: 300;
}

.subTitle {
  font-family: @brandFont;
  color: @lightGray300;
  font-size: 21px;
  margin: 0 5px 20px;
}

.displayArea {
  min-height: @supermax;
  margin: @large 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.dark {
    background-color: rgba(33, 33, 33, 0.99);
  }
}

.iconTable i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.iconTable i:hover {
  background-color: @teal100;
  color: @teal700;
}
