@import '../../styles/color';
@import '../../styles/fonts';
@import '../../styles/spacing';

.pageContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: @brandFont;
  color: @brand;
  font-size: @large;
}

.description {
  margin: @large 0;
}

.displayArea {
  min-height: @supermax;
  margin: @large 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
