@import '../../../styles/color';
@import '../../../styles/fonts';
@import '../../../styles/spacing';

.documentation.propsTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid @lightGray100;

  tbody tr:nth-child(odd) {
    background-color: @lightGray100;

    &:hover {
      background: @lightGray100;
    }
  }

  th {
    color: black;
  }

  th, td {
    padding: @medium;
  }

  tr {
    text-align: left;
    border-bottom: 1pt solid black;

    &:hover {
      background: @lightGray100;
    }
  }
  
  th {
    text-align: left;
  }
}
