// Fonts
@font: 'Open Sans', sans-serif;
@brandFont: 'DINWebPro', 'Open Sans', sans-serif;
@codeFont: 'Menlo', 'Courier', monospace;

// Font Sizes
@fontSizeSmall: 12px;
@fontSizeNormal: 14px;
@fontSizeMedium: 21px;
@fontSizeLarge: 28px;

// Font Weights
@fontWeightLight: 200;
@fontWeightNormal: 400;
@fontWeightSemibold: 600;
@fontWeightBold: 700;

@baselineLineHeight: 21px;
//@baselineLetterSpacing: 0;
