@import '../../styles/app';

.sideNavbarContainer {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: @max;
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: @large;

  a {
    color: @lightGray300;
    text-decoration: none;
  }

  .sideNavbarItem {
    margin-top: @large;
  }
}
