@import '../../styles/app';

.sideNavbarContainer {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: @large;

  a {
    color: @lightGray300;
    text-decoration: none;
    padding: 10px 0 10px 10px;
  }

  .sideNavbarItem {
    margin-top: @large;
  }
}
