@import '../../styles/app';

/*
  invisible anchor element
*/
.tooltip-backdrop {
  background-color: transparent;
  width: 0px;
  position: absolute;
}

/*
  global styling
*/
.tooltip-header {
  font-weight: 600;
}

.tooltip-body {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
  inner body layout
  default is top
*/
.tooltip-content  {
  display: block;
  min-width: 100px;
  padding: 1ch 1.5ch;
  box-shadow: 0 1em 1em -.5em rgba(0, 0, 0, 0.35);
  background-color: @lightGray000;
  color: @darkGray500;
  font-size: 12px;
  z-index: 100;
  transform: translate(-45%, -150%);
  animation: fadeIn ease-in 0.2s;

  &.dark {
    background-color: rgba(33, 33, 33, 0.9);
    color: @lightGray000;
  }

  &.danger {
    background-color: @red100;
    color: @red500;
    border: 1px solid @red300;
  }

  &.warning {
    background-color: @orange100;
    border: 1px solid @orange300;
    color: @orange500;
  }

  &.information {
    background-color: @blue100;
    border: 1px solid @blue300;
    color: @blue500;
  }

  &.success {
    background-color: @green100;
    border: 1px solid @green300;
    color: @green500;
  }
}

/*
  pointy bit
*/
.tooltip-content::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, 6px);
  border: 8px solid transparent;
  border-top-color: @lightGray000;
  border-bottom: 0;
}

.tooltip-content.dark::after {
  border-top-color: rgba(33, 33, 33, 0.9);
}

.tooltip-content.danger::after {
  border-top-color: @red100;
}

.tooltip-content.warning::after {
  border-top-color: @orange100;
}

.tooltip-content.information::after {
  border-top-color: @blue100;
}

.tooltip-content.success::after {
  border-top-color: @green100;
}

/*
  right tooltip
*/
.tooltip-content.right {
  transform: translate(40%, -65%);
}

.tooltip-content.right::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 35%;
  left: 0;
  transform: translate(-92%, 0%);
  border: 8px solid transparent;
  border-left-width: 0;
  border-right-color: @lightGray000;
}

.tooltip-content.right.dark::after {
  border-right-color: rgba(33, 33, 33, 0.9);
}

.tooltip-content.right.danger::after {
  border-right-color: @red100;
}

.tooltip-content.right.warning::after {
  border-right-color: @orange100;
}

.tooltip-content.right.information::after {
  border-right-color: @blue100;
}

.tooltip-content.right.success::after {
  border-right-color: @green100;
}

/*
  bottom tooltip
*/
.tooltip-content.bottom {
  transform: translate(-35%, 19%);
}

.tooltip-content.bottom::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  transform: translate(-50%, -7px);
  border: 8px solid transparent;
  border-top-width: 0;
  border-bottom-color: @lightGray000;
}

.tooltip-content.bottom.dark::after {
  border-bottom-color: rgba(33, 33, 33, 0.9);
}

.tooltip-content.bottom.danger::after {
  border-bottom-color: @red100;
}

.tooltip-content.bottom.warning::after {
  border-bottom-color: @orange100;
}

.tooltip-content.bottom.information::after {
  border-bottom-color: @blue100;
}

.tooltip-content.bottom.success::after {
  border-bottom-color: @green100;
}

/*
  left tooltip
*/
.tooltip-content.left {
  transform: translate(-115%, -70%);
}

.tooltip-content.left::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 30%;
  transform: translate(372%, 0%);
  border: 8px solid transparent;
  border-left-color: @lightGray000;
}


.tooltip-content.left.dark::after {
  border-left-color: rgba(33, 33, 33, 0.9);
}

.tooltip-content.left.danger::after {
  border-left-color: @red100;
}

.tooltip-content.left.warning::after {
  border-left-color: @orange100;
}

.tooltip-content.left.information::after {
  border-left-color: @blue100;
}

.tooltip-content.left.success::after {
  border-left-color: @green100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
