@import '../../styles/app';

/*
  invisible anchor element
*/
.tooltip-backdrop {
  background-color: transparent;
  width: 0px;
  position: relative;
}

/*
  global styling
*/
.tooltip-header {
  font-weight: 600;
}

.tooltip-body {
  display: block;
  max-width: 118px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: @darkGray500;

  &.dark {
    color: @lightGray300;
  }
}

/*
  inner body layout
  default is top
*/
.tooltip-content  {
  display: inline-block;
  position: absolute;
  cursor: help;
  max-width: 180px;
  padding: 1ch 1.5ch;
  box-shadow: 0 1em 1em -.5em rgba(0, 0, 0, 0.35);
  background-color: @lightGray000;
  color: @darkGray500;
  font-size: 12px;
  z-index: 100;
  transform: translate(-45%, -150%);
  animation: fadeIn ease-in 0.2s;

  &.dark {
    background-color:@darkGray900;
    color: @lightGray000;
  }

  &.danger {
    background-color: @red100;
    color: @red500;
    border: 1px solid @red300;
  }

  &.warning {
    background-color: @orange100;
    border: 1px solid @orange300;
    color: @orange500;
  }

  &.information {
    background-color: @blue100;
    border: 1px solid @blue300;
    color: @blue500;
  }

  &.success {
    background-color: @brandGreen100;
    border: 1px solid @brandGreen300;
    color: @brand;
  }
}

/*
  pointy bit for top
*/
.tooltip-content::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 6px);
  border: 8px solid transparent;
  border-top-color: @lightGray000;
  border-bottom: 0;
}

.tooltip-content.dark::after {
  content: '';
  position: absolute;
  border-top-color:@darkGray900;
}

/*
  pointy bit for semantic elements
  more complex due to outline
*/
.tooltip-content.danger::before,
.tooltip-content.danger::after,
.tooltip-content.warning::before,
.tooltip-content.warning::after,
.tooltip-content.information::before,
.tooltip-content.information::after,
.tooltip-content.success::before,
.tooltip-content.success::after
{
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
}

.tooltip-content.danger::before {
  content: '';
  position: absolute;
  border-top: 7px solid @red100;
  margin-top: -1px;
  margin-left: -4px;
  z-index: 200;
}

.tooltip-content.danger::after {
  content: '';
  position: absolute;
  border-top: 5px solid @red300;
  margin-top: -4px;
  margin-left: 1px;
}

.tooltip-content.success::before {
  content: '';
  position: absolute;
  border-top: 7px solid @brandGreen100;
  transform: translateX(-5px);
  z-index: 200;
}

.tooltip-content.success::after {
  content: '';
  position: absolute;
  border-top: 7px solid @brandGreen300;
  margin-top: -4px;
  //margin-left: -1px;
}

.tooltip-content.warning::before {
  content: '';
  position: absolute;
  border-top: 7px solid @orange100;
  transform: translateX(-5px);
  z-index: 200;
}

.tooltip-content.warning::after {
  content: '';
  position: absolute;
  border-top: 5px solid @orange300;
  margin-top: -4px;
}

.tooltip-content.information::before {
  content: '';
  position: absolute;
  border-top: 7px solid @blue100;
  transform: translateX(-5px);
  z-index: 200;
}

.tooltip-content.information::after {
  content: '';
  position: absolute;
  border-top: 7px solid @blue300;
  margin-top: -4px;
}


/*
  right tooltip
*/
.tooltip-content.right {
  transform: translate(40%, -65%);
}

.tooltip-content.right::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  border: 10px solid transparent;
  border-left-width: 0;
  border-right-color: @lightGray000;
}

.tooltip-content.right.dark::after {
  border-right-color:@darkGray900;
}

.tooltip-content.right.success::before,
.tooltip-content.right.danger::before,
.tooltip-content.right.warning::before,
.tooltip-content.right.information::before {
  content: '';
  position: absolute;
  top: 32%;
  left: -9px;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.tooltip-content.right.success::before {
  border-right: 8px solid @brandGreen300;
  left: -8px;
}

.tooltip-content.right.danger::before {
  border-right: 8px solid @red300;
  margin-top: 0px;
}

.tooltip-content.right.warning::before {
  border-right: 8px solid @orange300;
  left: -8px;
}

.tooltip-content.right.information::before {
  border-right: 8px solid @blue300;
  left: -8px;
}

.tooltip-content.right.information::after,
.tooltip-content.right.success::after,
.tooltip-content.right.warning::after,
.tooltip-content.right.danger::after {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 200;
  margin-left: -1px;
}

.tooltip-content.right.information::after {
  border-right: 8px solid @blue100;
}

.tooltip-content.right.success::after {
  border-right: 8px solid @brandGreen100;
}

.tooltip-content.right.warning::after {
  border-right: 8px solid @orange100;
}

.tooltip-content.right.danger::after {
  border-right: 8px solid @red100;
}

/*
  bottom tooltip
*/
.tooltip-content.bottom {
  transform: translate(-35%, 19%);
}

.tooltip-content.bottom::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  transform: translate(-50%, -7px);
  border: 8px solid transparent;
  border-top-width: 0;
  border-bottom-color: @lightGray000;
}

.tooltip-content.bottom.dark::after {
  border-bottom-color:@darkGray900;
}

/*
  pointy bit for semantic elements
  more complex due to outline
*/
.tooltip-content.bottom.danger::before,
.tooltip-content.bottom.danger::after,
.tooltip-content.bottom.warning::before,
.tooltip-content.bottom.warning::after,
.tooltip-content.bottom.information::before,
.tooltip-content.bottom.information::after,
.tooltip-content.bottom.success::before,
.tooltip-content.bottom.success::after
{
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 6%;
  left: 55%;
  margin-right: -4px;
}

.tooltip-content.bottom.danger::before {
  content: '';
  position: absolute;
  border-bottom: 6px solid @red100;
  border-top: 0px;
  transform: translate(-5px, -9px);
  z-index: 200;
}

.tooltip-content.bottom.danger::after {
  content: '';
  position: absolute;
  border-bottom: 5px solid @red300;
  margin-left: -3px;
}

.tooltip-content.bottom.warning::before {
  content: '';
  position: absolute;
  border-bottom: 6px solid @orange100;
  border-top: 0px;
  transform: translate(-5px, -9px);
  z-index: 200;
}

.tooltip-content.bottom.warning::after {
  content: '';
  position: absolute;
  border-bottom: 5px solid @orange300;
  margin-bottom: -4px;
}

.tooltip-content.bottom.information::before {
  content: '';
  position: absolute;
  border-bottom: 6px solid @blue100;
  border-top: 0px;
  transform: translate(-5px, -9px);
  z-index: 200;
}

.tooltip-content.bottom.information::after {
  content: '';
  position: absolute;
  border-bottom: 5px solid @blue300;
  margin-bottom: -4px;
}

.tooltip-content.bottom.success::before {
  content: '';
  position: absolute;
  border-bottom: 6px solid @brandGreen100;
  border-top: 0px;
  transform: translate(-5px, -9px);
  z-index: 200;
}

.tooltip-content.bottom.success::after {
  content: '';
  position: absolute;
  border-bottom: 5px solid @brandGreen300;
  margin-bottom: -4px;
}

/*
  left tooltip
*/
.tooltip-content.left {
  transform: translate(-115%, -70%);
}

.tooltip-content.left::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 106%;
  border: 10px solid transparent;
  border-left-color: @lightGray000;
}

.tooltip-content.left.dark::after {
  border-left-color:@darkGray900;
}

.tooltip-content.left.danger::before,
.tooltip-content.left.warning::before,
.tooltip-content.left.information::before,
.tooltip-content.left.success::before {
  content: '';
  position: absolute;
  top: 33%;
  left: 108%;
  height: 0;
  width: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.tooltip-content.left.danger::before {
  border-left: 8px solid @red300;
  margin-left: -10px;
  margin-top: 0;
}

.tooltip-content.left.success::before {
  border-left: 8px solid @brandGreen300;
  margin-left: -4px;
}

.tooltip-content.left.information::before {
  border-left: 8px solid @blue300;
  margin-left: -4px;
}

.tooltip-content.left.warning::before {
  border-left: 8px solid @orange300;
  margin-left: -4px;
}

.tooltip-content.left.danger::after,
.tooltip-content.left.warning::after,
.tooltip-content.left.success::after,
.tooltip-content.left.information::after {
  margin-left: 0;
  top: 26%;
  z-index: 200;
}

.tooltip-content.left.danger::after {
  border-left: 8px solid @red100;
}

.tooltip-content.left.warning::after {
  border-left: 8px solid @orange100;
}

.tooltip-content.left.information::after {
  border-left: 8px solid @blue100;
}

.tooltip-content.left.success::after {
  border-left: 8px solid @brandGreen100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
