.home-container {
  font: "'Open Sans', sans-serif";
}

.dashboard {
  background-color: blue;
  width: 500px;
  height: 200px;
}

.home {
  background-color: peru;
  width: 500px;
  height: 200px;
}

.header-container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
